
{
    "presets": [
      [
        "@babel/preset-env"      
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-transform-modules-commonjs",  
      ["@babel/plugin-proposal-class-properties", { "loose": true }],
      ["@babel/plugin-syntax-dynamic-import"]
      
    ]
  }