// Margin and Padding

// @each $breakpoint in map-keys($grid-breakpoints) {
//     @include media-breakpoint-up($breakpoint) {
//       $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

//       @each $prop, $abbrev in (margin: m, padding: p) {
//         @each $size, $length in $custom-spacers {
//           .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
//           .#{$abbrev}t-#{$size},
//           .#{$abbrev}y-#{$size} {
//             #{$prop}-top: $length !important;
//           }
//           .#{$abbrev}r-#{$size},
//           .#{$abbrev}x-#{$size} {
//             #{$prop}-right: $length !important;
//           }
//           .#{$abbrev}b-#{$size},
//           .#{$abbrev}y-#{$size} {
//             #{$prop}-bottom: $length !important;
//           }
//           .#{$abbrev}l-#{$size},
//           .#{$abbrev}x-#{$size} {
//             #{$prop}-left: $length !important;
//           }
//         }
//       }

//       // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
//       @each $size, $length in $custom-spacers {
//         @if $size != 0 {
//           .m-n#{$size} { margin: -$length !important; }
//           .mt-n#{$size},
//           .my-n#{$size} {
//             margin-top: -$length !important;
//           }
//           .mr-n#{$size},
//           .mx-n#{$size} {
//             margin-right: -$length !important;
//           }
//           .mb-n#{$size},
//           .my-n#{$size} {
//             margin-bottom: -$length !important;
//           }
//           .ml-n#{$size},
//           .mx-n#{$size} {
//             margin-left: -$length !important;
//           }
//         }
//       }

      
//     }
//   }


//   @each $prop, $abbrev in (margin: m, padding: p) {
//     @each $size, $length in $custom-spacers {
//       .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
//       .#{$abbrev}t-#{$size},
//       .#{$abbrev}y-#{$size} {
//         #{$prop}-top: $length !important;
//       }
//       .#{$abbrev}r-#{$size},
//       .#{$abbrev}x-#{$size} {
//         #{$prop}-right: $length !important;
//       }
//       .#{$abbrev}b-#{$size},
//       .#{$abbrev}y-#{$size} {
//         #{$prop}-bottom: $length !important;
//       }
//       .#{$abbrev}l-#{$size},
//       .#{$abbrev}x-#{$size} {
//         #{$prop}-left: $length !important;
//       }
//     }
//   }

  // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
  // @each $size, $length in $custom-spacers {
  //   @if $size != 0 {
  //     .m-n#{$size} { margin: -$length !important; }
  //     .mt-n#{$size},
  //     .my-n#{$size} {
  //       margin-top: -$length !important;
  //     }
  //     .mr-n#{$size},
  //     .mx-n#{$size} {
  //       margin-right: -$length !important;
  //     }
  //     .mb-n#{$size},
  //     .my-n#{$size} {
  //       margin-bottom: -$length !important;
  //     }
  //     .ml-n#{$size},
  //     .mx-n#{$size} {
  //       margin-left: -$length !important;
  //     }
  //   }
  // }