
// Body
//
// Settings for the `<body>` element.

$body-bg:                   $dark-100 !default; // was: $white #fafbfe #f9fbfd f0f1f2
$border-color:              $dark-100 !default;


$dropdown-border-color:             $dark-100 !default;

$card-border-color:                 $dark-100 !default;