// Navbar


$navbar-size-base:                  3.25rem !default; // 50px
$navbar-size-lg:                    $navbar-size-base * 1.25 !default;

$navbar-dark-hover-bg-color:        rgba($white, .1) !default;
$navbar-light-hover-bg-color:       rgba($black, .1) !default; // extend