// Progress bars

$progress-height-xs:                $progress-height * 0.25 !default;
$progress-height-sm:                $progress-height * 0.5 !default;
$progress-height-lg:                $progress-height * 1.5 !default;